version: '2'
services:
  node-1:
    hostname: node-1
    build: ./docker/images/barrio/
    command: java -jar /barrio/barrio.jar -f /data/input-tiny/input-1.txt
    environment:
      - CONTAINER_HOSTNAME=node-1
      - AKKA_REMOTING_PORT=18011
      - AKKA_SYSTEM=barrio
      - AKKA_SEED_HOST=node-1
      - AKKA_SEED_PORT=18011
    expose:
      - 18001
      - 18011
    ports:
      - "19001:18001"
    volumes:
      - ./target/barrio/:/barrio/
      - ./data/:/data/
  node-2:
    hostname: node-2
    build: ./docker/images/barrio/
    command: java -jar /barrio/barrio.jar -f /data/input-tiny/input-2.txt
    environment:
      - CONTAINER_HOSTNAME=node-2
      - AKKA_REMOTING_PORT=18011
      - AKKA_SYSTEM=barrio
      - AKKA_SEED_HOST=node-1
      - AKKA_SEED_PORT=18011
    expose:
      - 18001
      - 18011
    ports:
      - "19002:18001"
    volumes:
      - ./target/barrio/:/barrio/
      - ./data/:/data/
  node-3:
    hostname: node-3
    build: ./docker/images/barrio/
    command: java -jar /barrio/barrio.jar -f /data/input-tiny/input-3.txt
    environment:
      - CONTAINER_HOSTNAME=node-3
      - AKKA_REMOTING_PORT=18011
      - AKKA_SYSTEM=barrio
      - AKKA_SEED_HOST=node-1
      - AKKA_SEED_PORT=18011
    expose:
      - 18001
      - 18011
    ports:
      - "19003:18001"
    volumes:
      - ./target/barrio/:/barrio/
      - ./data/:/data/ 