version: '2'
services:
  node-1:
    hostname: node-1
    build: ./docker/images/barrio/
    command: java -jar /barrio/barrio.jar -f /data/positive-grid-6-d/input-1.txt -d 6 -m cosine
    environment:
      - BARRIO_AKKA_SEED_HOST=node-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-1
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19001:18001"
    volumes:
      - ./target/barrio/:/barrio/
      - ./data/:/data/
  node-2:
    hostname: node-2
    build: ./docker/images/barrio/
    command: java -jar /barrio/barrio.jar -f /data/positive-grid-6-d/input-2.txt -d 6 -m cosine
    environment:
      - BARRIO_AKKA_SEED_HOST=node-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-2
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19002:18001"
    volumes:
      - ./target/barrio/:/barrio/
      - ./data/:/data/
  node-3:
    hostname: node-3
    build: ./docker/images/barrio/
    command: java -jar /barrio/barrio.jar -f /data/positive-grid-6-d/input-3.txt -d 6 -m cosine
    environment:
      - BARRIO_AKKA_SEED_HOST=node-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-3
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19003:18001"
    volumes:
      - ./target/barrio/:/barrio/
      - ./data/:/data/ 
  node-4:
    hostname: node-4
    build: ./docker/images/barrio/
    command: java -jar /barrio/barrio.jar -f /data/positive-grid-6-d/input-4.txt -d 6 -m cosine
    environment:
      - BARRIO_AKKA_SEED_HOST=node-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-4
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19004:18001"
    volumes:
      - ./target/barrio/:/barrio/
      - ./data/:/data/ 