version: '2'
services:
  seed-1:
    hostname: seed-1
    image: openjdk:8
    command: java -jar /barrio/barrio.jar --seedOnlyNode
    environment:
      - BARRIO_AKKA_SEED_HOST=seed-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_HOSTNAME=seed-1
    expose:
      - 18011
    volumes:
      - ${TRAVIS_BUILD_DIR}/target/barrio/:/barrio/
  node-1:
    hostname: node-1
    image: openjdk:8
    command: java -jar /barrio/barrio.jar --isUrl -f https://media.githubusercontent.com/media/codiply/barrio-test-data/master/movielens-item-factors/rank-16/part-1.txt -d 16 -m cosine --separator @~@
    environment:
      - BARRIO_AKKA_SEED_HOST=seed-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-1
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19001:18001"
    volumes:
      - ${TRAVIS_BUILD_DIR}/target/barrio/:/barrio/
  node-2:
    hostname: node-2
    image: openjdk:8
    command: java -jar /barrio/barrio.jar --isUrl -f https://media.githubusercontent.com/media/codiply/barrio-test-data/master/movielens-item-factors/rank-16/part-2.txt -d 16 -m cosine --separator @~@
    environment:
      - BARRIO_AKKA_SEED_HOST=seed-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-2
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19002:18001"
    volumes:
      - ${TRAVIS_BUILD_DIR}/target/barrio/:/barrio/
  node-3:
    hostname: node-3
    image: openjdk:8
    command: java -jar /barrio/barrio.jar --isUrl -f https://media.githubusercontent.com/media/codiply/barrio-test-data/master/movielens-item-factors/rank-16/part-3.txt -d 16 -m cosine --separator @~@
    environment:
      - BARRIO_AKKA_SEED_HOST=seed-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-3
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19003:18001"
    volumes:
      - ${TRAVIS_BUILD_DIR}/target/barrio/:/barrio/
  node-4:
    hostname: node-4
    image: openjdk:8
    command: java -jar /barrio/barrio.jar --isUrl -f https://media.githubusercontent.com/media/codiply/barrio-test-data/master/movielens-item-factors/rank-16/part-4.txt -d 16 -m cosine --separator @~@
    environment:
      - BARRIO_AKKA_SEED_HOST=seed-1:18011
      - BARRIO_AKKA_SYSTEM=barrio
      - BARRIO_AKKA_REMOTING_PORT=18011
      - BARRIO_DEFAULT_REQUEST_TIMEOUT=2000
      - BARRIO_HOSTNAME=node-4
      - BARRIO_MAX_REQUEST_TIMEOUT=10000
      - BARRIO_WEB_API_PORT=18001
    expose:
      - 18001
      - 18011
    ports:
      - "19004:18001"
    volumes:
      - ${TRAVIS_BUILD_DIR}/target/barrio/:/barrio/